body { background: #b6baaa; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 44px; display: flex; }
.block-payment-0 { color: #6856bd; font-size: 19px; margin-bottom: 5px; }
.block-token-1 { color: #22de2d; font-size: 18px; margin-bottom: 5px; }
.block-metrics-2 { color: #ace874; font-size: 12px; margin-bottom: 5px; }
.block-token-3 { color: #f01e68; font-size: 18px; margin-bottom: 5px; }
.block-token-4 { color: #fbb647; font-size: 15px; margin-bottom: 5px; }
.block-cache-5 { color: #b90f16; font-size: 16px; margin-bottom: 5px; }
.block-sms-6 { color: #1de327; font-size: 16px; margin-bottom: 5px; }
.block-cluster-7 { color: #1d9c35; font-size: 20px; margin-bottom: 5px; }